[options]
UseSyslog

[openSSH]
{% set open_ssh_sequence = [444, 555, 666] %}
sequence = {{ open_ssh_sequence | join(',') }}
seq_timeout = {{ open_ssh_seq_timeout }}
command = {{ open_ssh_command }}
tcpflags = {{ tcpflag }}

[closeSSH]
{% set close_ssh_sequence = [666, 555, 444] %}
sequence = {{ close_ssh_sequence | join(',') }}
seq_timeout = {{ close_ssh_seq_timeout }}
command = {{ close_ssh_command }}
tcpflags = {{ tcpflag }}
